BasedOnStyle: Microsoft
AlignAfterOpenBracket: AlwaysBreak
AlignConsecutiveDeclarations: true
BinPackParameters: false
BinPackArguments: false
BreakConstructorInitializers: BeforeComma
BreakTemplateDeclarations: Yes
ColumnLimit: 80